<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello 歡迎使用 專案 4 :餐飲衛生管理分級評核</title>
</head>
<body>
<body style="background-color:pink;" background="bg1.jpg" width="1024" height="768">

<h1 style="font-family:verdana;" align="center">
    <font face="Comic Sans MS">109年度餐飲衛生管理-<ins>新竹市</ins></font>
</h1>
<!--標題2-->
<h2 align="center" >
    <font face="Comic Sans MS"> ↓ 評核結果查詢-請點選 ↓ </font>
</h2>

<p style="font-family:verdana;" align="center">
    <a href="http://127.0.0.1:5000/restaurantall"> 全部餐廳評核結果 </a>
</p>
<p style="font-family:verdana;" align="center">
    <a href="http://127.0.0.1:5000/restaurant?level=優" > 優良餐廳一覽 </a>
</p>
<p style="font-family:verdana;" align="center">
    <a href="http://127.0.0.1:5000/restaurant?level=良" > 良好餐廳一覽 </a>
</p>
</body>
</html>